/**Global layout*/
*,
*::before,
**::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f4f4f4;
    padding: 20px;
}

/**Header styles*/
header{
    /* background-color: #61b6d8; */
    background-color: #15818d;
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 20px;
}

header input[type="text"]{
    padding: 8px;
    width: 200px;
    margin-top: 10px;
    border:none;
    border: 1 solid transparent
}

header button{
    padding: 10px 20px;
    background-color: #e5b10d;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:10px;
}

header button:hover{
    background-color: white;
    color: #e5b10d;
    transition: background-color 0.2s ease;
}

@media(max-width : 768px){
    header button {
        margin-top: 10px;
    }
}

/**Main styles*/
main section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 18px 15px 12px rgba(0, 0, 0, 0.1);
}

main section h3{
    color: #15818d;
}
h4{
    color: #e5b10d;
}
.container-data > *{
    margin: 0;
    padding: 0;
}

#weather-details-container{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#air-pollution-details-container{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/**Forecast styles*/
.container-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.forecast-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
} 

.forecast-card, .weather-detail{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 11px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px; 
}

.forecast-card h4{
    color: #333;
    margin-bottom: 10px;
}

.weather-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.forecast-card p{
    color: #555;
    text-transform: uppercase;
}

/**Error styles*/

#error{
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    display: none;
}

/**Loader styles*/
@keyframes spin{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.loader{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #e5b10d; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

/**Footer styles*/

footer{
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 0.9em;
    color: #15818d;
}


